- if turbo_frame_request?
  = render TurboModalComponent.new(title: "Manage Providers", custom_style: "wide") do
    = render "backoffice/statuses/form", collection: @providers, pagy: @pagy, form_path: backoffice_statuses_providers_path
- else
  = render "backoffice/statuses/form", collection: @providers, pagy: @pagy, form_path: backoffice_statuses_providers_path
