%dialog#confirm
  .row
    .col-12.col-md-11
    .col-12.col-md-1
      %button.close.modal__backdrop.confirm-cancel.float-right{ type: "button" }
        %span{ aria: { hidden: "true" } } &times;
  .row
    .col-12
      .modal__content
        %h3#confirm-title Are you sure?
        #confirm-body
      .modal-actions
        %button#dismiss-btn.confirm-cancel.btn.btn-primary.close.close-link.pl-3.pr-3{ type: "button" }
          Cancel
        %button#confirm-accept.btn.btn-primary Yes, I'm Sure
