.totop-wrapper
  .container
    %a{ href: "#" }
      %i.fa.fa-arrow-up
      Do góry
%footer
  .container
    .row
      .col-lg-3.col-sm-12.footer-logo
        = image_tag "eoscpl-footer-logo.svg", alt: "EOSC PL", class: "img-fluid"
      .col-lg-9.col-sm-12.footer-left
        .footer-row
          .footer-column
            %ul
              %li
                .menu-title Kontakt
              %li
                %a{ href: "#" } Researchers - support@marketplace.eu
              %li
                %a{ href: "#" } Providers - onboarding@eosc-portal.eu
              %li
                %a{ href: "#" } Businesses - business@eosc-dih.eu

        .copyright-row
          %p
            Copyright 2023 &nbsp;|&nbsp; All rights reserved &nbsp; | &nbsp;
            %a{ href: "#" } Privacy policy
